<% unless @page == 0 %>
  <div class="results-separator">
    Page <%= @page + 1 %>
  </div>
<% end %>

<% results.each do |result| %>
  <div class="results-item">
    <%= result.link %>
    <div class="meta">
      <% result.meta.each do |query| %>
        <%= result.send(query) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="results-pagination">
  <a href="#" id="next-page">Load next page</a>
</div>