<% results.each do |result| %>
  <div class="result-item">
    <a href="#"><%= result.title %></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae officia at minus ut reiciendis fugiat quaerat dolorum quas quisquam quia neque...</p>
    <span class="url">http://example.com</span>
  </div>
<% end %>