<% unless @page == 0 %>
  <div class="results-separator">
    Page <%= @page + 1 %>
  </div>
<% end %>

<% results.each do |result| %>
  <div class="results-item">
    <%= result.link %>
    <p><%= result.description %></p>
    <span class="url"><%= result.host %></span>
  </div>
<% end %>

<div class="results-pagination">
  <a href="#" id="next-page">Load next page</a>
</div>