<% results.each do |result| %>
  <div class="results-item">
    <%= result.link %>
    <p><%= result.description %></p>
    <div class="meta">
      <span>Queries:</span>
      <% result.queries.each do |query| %>
        <%= result.send(query) %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="results-pagination">
  <% if @nodes && !@nodes.last_page? %>
    <%= link_to "Next Page", root_path(query: params[:query], page: @nodes.current_page + 1), remote: true %>
  <% end %>
</div>