<% results.each do |result| %>
  <div class="results-item">
    <%= result.link %>
    <div class="meta">
      <% result.queries.each do |query| %>
        <%= result.send(query) %>
      <% end %>
    </div>
  </div>
<% end %>